.header{
  display: flex;
  justify-content: space-between;
  border:2px solid grey
}
.logo> img{
  width: 5rem;
}
.navigation-div>ul{
  display: flex;
  gap: 2rem
  ;
  text-decoration: none;
  list-style-type: none;
  padding-right: 2rem;
  font-size: 1.2rem;
  margin-top: 1.8rem;
}
.rest-card{
  padding: 0.5rem;
  height:20rem;
  border: 2px solid black;
  width: 13rem;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 2rem;

}
.rest-card>img{
width: 100%;
height: 40%;
}